@import url("../../../variables.css");

.home {
  width: 100%; min-height: 100vh;
}

.home__content {
  width: 100%; min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}